@model IEnumerable<EmprestimosModel>

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Histórico de Empréstimos</h1>
        <div>
            <a class="btn btn-success mx-2" asp-controller="Emprestimo" asp-action="Cadastrar">Cadastrar novo empréstimo</a>
            <a class="btn btn-success mx-2" asp-controller="Emprestimo" asp-action="ExportarDados">Exportar Dados em Excel</a>
        </div>
        
    </div>


@if(TempData["MensagemSucesso"] != null){
    <div class="alert alert-success text-light" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if(TempData["MensagemErro"] != null){
    <div class="alert alert-denger text-light" role="alert">
        @TempData["MensagemErro"]
    </div>
}


    <div class="table-responsive">
        <table id="EmprestimosTbl" class="table table-ligth table-hover">
            <thead>
                <tr>
                    <th scope="col">Recebedor</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Livros</th>
                    <th scope="col">Última Atualização</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if(Model != null)
                {
                    @foreach(var emprestimos in Model)
                    {
                        <tr>
                            <th scope="row">@emprestimos.Receber</th>
                            <td>@emprestimos.Fornecedor</td>
                            <td>@emprestimos.LivroEmprestado</td>
                            <td>@emprestimos.dataUltimaAtualiacao</td>
                            <td>
                                <a asp-controller="Emprestimo" asp-action="Editar" asp-route-id="@emprestimos.Id" class="btn btn-warning mx-2"><i class="bi bi-pencil mx-2"></i>EDITAR</a>
                                <a asp-controller="Emprestimo" asp-action="Excluir" asp-route-id="@emprestimos.Id" class="btn btn-danger mx-2"><i class="bi bi-trash3 mx-2"></i>EXCLUIR</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>
